body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Open Sans", sans-serif;
}

h2 {
    color: #ffffff;
}

header h2 {
    color: #ffffff;
}


.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #f2c4ff8f
}

.bgOverLay  {
        position: relative; 
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('img/IMG_9897.jpg');
        background-size: cover;
    }
        
.bgOverLay::before {  
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.25);
    }

    /* .site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
} */

.jumbotron {
    background: none;
}